package components


templ AddInput() {
   <input type="text" name="title" placeholder="Title" class="w-full h-12 bg-black text-white font-bold rounded-lg" />
}

templ EditInput() {
   <input type="text" name="title" placeholder="Title" value="" class="w-full h-12 bg-black text-white font-bold rounded-lg" />
}