package user

import "github.com/foleydom/go_echo_project/view/layout"

templ User() {
    @layout.Layout() {
   <h1>Show Users Here</h1>
    }
}

templ Hello_World() {
    @layout.Layout() {
        <h1>Something Here</h1>
        <div class="">div div div</div>
    }
}
