package user

import "github.com/foleydom/go_echo_project/views/layout"

templ User() {
	@layout.Layout() {
		<h1 class="center">Show Users Here</h1>
		<div>new thing reload</div>
		<h1>one moe</h1>
		<h2>this is a test</h2>
	}
}

templ Hello_World() {
	@layout.Layout() {
		<h1>Something Here</h1>
		<div class="">div div div</div>
	}
}
